## ide
**/.idea
*.iml
rebel.xml

## backend
**/target
**/logs

## front
**/*.lock

#idea
.idea/
target/
*.iml
*.ipr
*.iws
*.log
 
#eclipse
.project
.classpath
.settings
.factorypath
 
#gradle
.gradle
.gradletasknamecache
 

## others
.svn/
.rebel-remote.xml.*
